//divider
.index-divider{
	width:100vw;
	padding-top: 30vh;
	position: relative;
	margin-top: -40px;
	@media all and (min-width: 768px){
		padding-top: 50vh;
	}
	&-bg{
		position: absolute;
		top:10%;
		left:0;
		width:100%;
		height: 30vh;
		z-index: -10;
		@media all and (min-width: 768px){
			height: 50vh;
		}
		svg{
			height: 100%;
			width: 100%;

		}
	}
	
	&-circle{
		display: inline-block;
		width:20px;
		height: 20px;
		background-color: $prime;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		position: absolute;
		top:100%;
		left:-11px;
		@media all and (min-width: 768px){
		top:-10px;
	}
		&:before{
			content: '';
			position: absolute;
			width:20px;
			height: 20px;
			border:2px solid $prime;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			top:0px;
			left:0px;
			-webkit-animation:pulse 3s infinite;
			        animation:pulse 3s infinite;
		}
	

	}
	&-line{
		display: inline-block;
		position: absolute;
		z-index: 10;
		top:0;
		left:33.3%;
		height: 100%;
		width:0;
		margin:0 auto;
		border-left: 1.5px dashed black;
		text-align: center;
	@media all and (min-width: 768px){
		left:50%;
		height: 0;
		-webkit-transition:height 0.5s ease-out;
		-o-transition:height 0.5s ease-out;
		transition:height 0.5s ease-out;
		&.toggle {
			height:100%;
			.index-divider-circle{
			-webkit-animation: divider-down 1s ease-out;
			        animation: divider-down 1s ease-out;
			-webkit-animation-delay:0.5s;
			        animation-delay:0.5s;
			-webkit-animation-fill-mode: forwards;
			        animation-fill-mode: forwards;
			}

		}
	}
	}


}

//INDEX-ADVANTAGES
.index-advantages{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:end;
	-webkit-align-items:flex-end;
	    -ms-flex-align:end;
	        align-items:flex-end;
	margin:20px 0;
	&-block-1{
			-webkit-box-flex: 1;
			-webkit-flex: 1 1 100px;
			    -ms-flex: 1 1 100px;
			        flex: 1 1 100px;
			padding: 10px;
		}
	&-block-2{
			-webkit-box-flex: 2;
			-webkit-flex: 2 2 200px;
			    -ms-flex: 2 2 200px;
			        flex: 2 2 200px;
			padding: 10px;
		}
	@media all and (min-width: 768px){
		&-block-1, &-block-2{
			-webkit-box-flex: 1 !important;
			-webkit-flex: 1 1 300px !important;
			    -ms-flex: 1 1 300px !important;
			        flex: 1 1 300px !important;
			padding: 20px;
		}
	}
	&-block-1{
		text-align: right;
		span{
			font-size: 50px;			
			font-weight: 300;			
			line-height: 90%;
			@media all and (min-width: 768px){
				font-size: 200px;
				letter-spacing: -10px;
			}

		}
	}
	&-block-2{
		ul{
			max-width: 450px;
			font-weight: 400;
			font-size: 14px;
			padding-right: 10px;
			@media all and (min-width: 768px){
				font-size: 15px;
				font-weight: bold;
				padding-left: 10px;
			}
			@extend %unlist;
			
			li{
				margin-top: 20px;
			}
		}
	}

}